// ==============================
// Post
// ==============================

@use 'sass:meta';
@use '../variables' as *;

.posts {
  margin-bottom: $post-list-margin-bottom;
}

.post {
  padding: $post-padding;

  & + .post {
    border-top: 1px solid var(--border-color);
  }

  @include meta.load-css('_post/header');
  @include meta.load-css('_post/toc');
  @include meta.load-css('_post/content');
  @include meta.load-css('_post/copyright');
  @include meta.load-css('_post/reward');
  @include meta.load-css('_post/footer');
}
